<!-- Author: Hae Rin Hong and Yannis Zhu -->

<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="Hae Rin Hong and Yannis Zhu">
    <!-- Set the page title based on the value provided by the template -->
    <title>{{ page_title }}</title>
    <!-- Link to the external stylesheet (style.css) in the 'static' directory -->
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
    <!-- Allow extending the head section of the HTML in child templates -->
    {% block head_stuff %} {% endblock %}
</head>
<body>

  <!-- Navigation bar -->
  <div id="navigation">
    <ul>
      <!-- Navigation links with URL routing using Flask's url_for function -->
      <li><a href="{{url_for('index')}}">Home</a></li>
      <li><a href="{{url_for('insert')}}">Insert A Movie</a></li>
      <li><a href="{{url_for('select')}}">Select from Incomplete Movies</a></li>
    </ul>
  </div>

  <!-- Display flashed messages, if any -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="messages">
        {% for msg in messages %}
          <p>{{msg}}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
            
  <!-- Main content section to be filled in by child templates -->
  {% block main_content %}
    <h1>Welcome!</h1>
  {% endblock %}

  <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- Allow extending the end_scripts section of the HTML in child templates -->
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
